* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a192f;
  color: #8892b0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

.App {
  min-height: 100vh;
}

.main-content {
  margin-top: 80px; /* برای فیکس شدن هدر */
 
}

/* استایل پایه برای صفحات */
h1 {
  color: #ccd6f6;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.8;
}